<footer class="footer has-background-grey-darker has-text-white">
    <div class="content">
        <div class="footer-logo">
            <a href="{{ .Site.BaseURL }}">
                <img src="{{ .Site.BaseURL }}/img/3mdeb-logo(1).png" height="30"
                width="200"></a>
        </div>
        <div class="footer-contact-details">
            <ul class="info-content">
                <li class="info-location">3mdeb Sp. z o.o.</li>
                <li class="info-location">VAT ID: PL5842812770</li>
            </ul>
            <ul class="info-content">
                <li class="info-location">Abrahama 1A / 2.05</li>
                <li class="info-location">80-307 Gdańsk, Poland</li>
            </ul>
            <ul class="info-content">
                <li class="info-phone">+48 58 718 91 79</li>
            </ul>
            <ul class="info-content">
                <li class="info-email">contact@3mdeb.com</li>
            </ul>
        </div>
        <div class="footer-links">
            <h4>Information</h4>
            <ul>
                <li><a href="https://3mdeb.com/company/terms-conditions/">Terms & Conditions</a></li>
                <li><a href="https://3mdeb.com/company/privacy-policy/">Privacy Policy</a></li>
                <li><a href="https://3mdeb.com/company/return-refund-policy/">Return & Refund Policy</a></li>
                <li><a href="https://3mdeb.com/contact/">Contact Us</a></li>
            </ul>
            <h4>Follow us</h4>
            <div class="social-icons">
                <ul class="list-icons">
                    <li class="social-fb">
                        <a href="https://www.facebook.com/3mdeb/" target="_blank" title="" alt="Facebook">
                            <i class="fab fa-facebook"></i>
                        </a>
                        </li>
                    <li class="social-tw">
                        <a href="https://twitter.com/3mdeb_com" target="_blank" title="">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="social-yt">
                        <a href="https://www.youtube.com/channel/UC_djHbyjuJvhVjfT18nyqmQ" target="_blank"
                            title="">
                            <i class="fab fa-youtube-square"></i>
                        </a>
                    </li>
                    <li class="social-li">
                        <a href="https://www.linkedin.com/company/3mdeb/" target="_blank" title="">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-break">
        <span class="footer-separator"></span>
        <span class="footer-copyright">
            © 2020 3mdeb Embedded Systems Consulting | All rights reserved.
        </span>
    </div>
</footer>
<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js" integrity="sha256-FtWfRI+thWlNz2sB3SJbwKx5PgMyKIVgwHCTwa3biXc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
let vuesearch = new Vue({
    el: '#search', // div ID
    data: {
        txt: '', // will contain the text written by user
        timeoutID: 0, // used to detect when the user stopped typing
        showresult: false, // show the result dropdown, or not
        result: {}, // results to display, as JSON : {[ {"url":"", "title":""},..] }
        bdd: [] // will contain the full JSON file created by HUGO
        },
    mounted: function() {
        // loading the full JSON to 'bdd'
        axios.get('{{ with .Site.GetPage "/search.md" }}{{ .Permalink }}{{ end }}')
        .then(function (response) {
            /* var temp = JSON.stringify(response)
                // .replace(/[;&?!]/g, '')
                .replace(/\\\\007:/g, '')
                .replace(/\\\\007/g, '');
                // .replace(/ *\b\S*?&\b/g, '');
            // var temp2 = temp.trim();
            temp = JSON.parse(temp); */
            vuesearch.bdd = response.data.results;
            })
        .catch(function (error) {
            console.log(error);
            });
        },
    methods: {
        close: function() {
            // Close the dropdown when the input search loses focus
            // with a 300ms delay to let time for the click on link to work
            setTimeout(function() {
                vuesearch.showresult = false;
                vuesearch.txt = '';
                }, 300);
            },
        search: function() {
            // we will search when the user stopped typing for 500ms
            clearTimeout(this.timeoutID);
            this.timeoutID = setTimeout(this.dosearch, 500);
            },
        dosearch: function() {
            // do the search in the 'bdd'
            this.result = []; // clear previous result
            let words = this.txt.split(' '); // split typed text with spaces
            let words2 = []; // words that will be searched
            words.forEach(function(element) { // to skip empty words, if multiple spaces typed (i.e "a  b c")
                if(element) {words2.push(element);}
                });
            let r;
            let resultmp;
            words2.forEach(function(e) { // for each word
                r = vuesearch.bdd.filter(p => p.title.toLowerCase().indexOf(e.toLowerCase()) !== -1);
                if(vuesearch.result.length===0) {vuesearch.result = r.slice(); return;}
                resultmp = [];
                vuesearch.result.forEach(function(all1) {
                    r.forEach(function(all2) { // we want AND for words
                        if(all1.url===all2.url) {resultmp.push(all1);}
                        });
                    });
                vuesearch.result = resultmp.slice();
                });
            this.result = this.result.slice(0, 10); // 10 results max
            this.showresult = (this.result.length>0); // show results if we have one or more
            } // dosearch
        } // methods
    }); // Vue
$(function(){
    // alert(12345)
  if(screen.width <= 1100){

    $(document).on('click','.bigmenu .mainMenuIcon',function(e){
        e.preventDefault();
        $('.submenu').slideUp();
        $('.svg-inline--fa').css('transform','rotate(0deg)')
        
        if ($(this).closest('li').find('ul').is(':visible')){
            $(this).find('svg').css('transform','rotate(0deg)')
            $(this).closest('li').find('ul').slideUp("slow");
            $(this).closest('li').find('ul').css('display','flex');
            $(this).closest('li').find('ul').css('flex-direction','column');
        }else{
            $(this).find('svg').css({'transform':'rotate(180deg)','transition':'transform 0.5s'})
            $(this).closest('li').find('ul').slideDown("slow");
            $(this).closest('li').find('ul').css('display','flex');
            $(this).closest('li').find('ul').css('flex-direction','column');
        }
    });

   
    $(document).on('click','.bigmenu .dropdown a',function(e){

        $(this).css('color','#fff');
            $('.bigmenu .dropdown a').removeClass('animateCodeBeforNext animateCodeAfterNext');
        if($('.bigmenu .dropdown a').hasClass('animateCodeBefor') && $('.bigmenu .dropdown a').hasClass('animateCodeAfter')){

            $('.bigmenu .dropdown a').removeClass('animateCodeBefor animateCodeAfter');

            $('.bigmenu .dropdown a').addClass('animateCodeBeforNext animateCodeAfterNext');
            if(!$(this).hasClass('animateCodeBefor') && !$(this).hasClass('animateCodeAfter')){
                $(this).removeClass('animateCodeBeforNext animateCodeAfterNext');
                $(this).addClass('animateCodeBefor animateCodeAfter');
            }
        }else{
            $(this).addClass('animateCodeBefor animateCodeAfter');
        }

    });

    $(document).on('click','.mobileMenu svg',function(){
        if($('.bigmenu').is(':visible')){
            $('.bigmenu').fadeOut('slow');
            $('.menu-btn').prop('checked',false);
        }else{
            $('.menu-btn').prop('checked',true);
            $(this).css({'transform':'rotate(180deg)','transition':'transform 0.5s'});
            $('.bigmenu').addClass('newBigMenu');
            $('.bigmenu').fadeIn('slow');
            $('.bigmenu li').css('display','block');

            $('.menuLabel').css('text-decoration','underline');

        }
    });
}
});
</script>
</body>
</html>
