<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ .Site.Title }} {{ with .Title }} | {{ . }}{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/font-awesome.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/bulma.css" />
  <link rel="stylesheet" href="{{ "css/blog.css" | absURL }}" />
  {{ if .RSSLink }}
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
  {{ end }}
  <script
 src="https://code.jquery.com/jquery-3.5.1.min.js"
 integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
 crossorigin="anonymous"></script>
  <script>
  jQuery(document).ready(function ($) {
  $("a[href*='#']").click(function(e) {
  var href = $(this).attr('href');
  var id = href.substring(href.indexOf('#'));
  if ($(id).length > 0) {
  e.preventDefault();
  $('html, body').animate({
  scrollTop: $(id).offset().top - 150,
  }, 1000);
  }
  });
  var pos = window.location.href.indexOf('#');
  if (pos >= 0) {
  var id = window.location.href.substring(pos);
  $('html, body').animate({
  scrollTop: $(id).offset().top - 150,
  }, 1000);
  }
  });
  </script>
  <style>.async-hide { opacity: 0 !important} </style>
  <!-- Anti-flicker snippet (recommended)  -->
  <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
  h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
  (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
  })(window,document.documentElement,'async-hide','dataLayer',4000,
  {'GTM-5GVCB5H':true});</script>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5GVCB5H');</script>
  <!-- End Google Tag Manager -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-39420295-6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-39420295-8');
  </script>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5GVCB5H"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <header class="header">
    <div class="inner-header">
    <a href="https://3mdeb.com" class="logo"><img src="{{ .Site.BaseURL }}/img/3mdeb-logo(1).png" height="38"
        width="250"></a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="bigmenu">
      <li class="dropdown"><a href="https://3mdeb.com/company/">COMPANY</a>
        <ul class="submenu">
          <li><a href="https://3mdeb.com/company/about-us/">About Us</a></li>
          <li><a href="https://3mdeb.com/company/about-us/#customers">Customers</a></li>
          <li><a href="https://3mdeb.com/company/careers/">Careers</a></li>
          <li><a href="https://3mdeb.com/company/markets/">Markets</a></li>
          <li><a href="https://3mdeb.com/company/faq/">FAQ</a></li>
          <li><a href="https://3mdeb.com/company/logo-policy/">Logo Policy</a></li>
        </ul>
      </li>
      <li class="dropdown"><a href="https://3mdeb.com/products/">PRODUCTS</a>
        <ul class="submenu">
          <li><a href="https://3mdeb.com/products/open-source-software/">Open Source Software</a></li>
          <li><a href="https://3mdeb.com/products/open-source-hardware/">Open Source Hardware</a></li>
          <li><a href="https://3mdeb.com/products/products-documentation/">Products Documentation</a></li>
        </ul>
      </li>
      <li class="dropdown"><a href="https://3mdeb.com/services/">SERVICES</a>
        <ul class="submenu">
          <li><a href="https://3mdeb.com/services/embedded-firmware/">Embedded Firmware</a></li>
          <li><a href="https://3mdeb.com/services/operating-systems/">Operating Systems</a></li>
          <li><a href="https://3mdeb.com/services/hypervisors/">Hypervisors</a></li>
          <li><a href="https://3mdeb.com/services/software-and-hardware-security/">Software and Hardware Security</a></li>
          <li><a href="https://3mdeb.com/services/hardware-support/">Hardware Support</a></li>
          <li><a href="https://3mdeb.com/services/internet-of-things-solutions/">Internet of Things Solutions</a></li>
          <li><a href="https://3mdeb.com/services/automated-validation/">Automated Validation</a></li>
          <li><a href="https://3mdeb.com/services/service-catalogues/">Services Catalogues</a></li>
        </ul>
      </li>
      <li class="dropdown"><a href="https://3mdeb.com/training/">TRAINING</a>
        <ul class="submenu">
          <li><a href="https://3mdeb.com/products/training/#coreboot-for-embedded-linux-developers">coreboot for Embedded Linux Developers</a></li>
          <li><a href="https://3mdeb.com/products/training/#building-and-development-of-embedded-linux-systems">Building and development of Embedded Linux Systems</a></li>
          <li><a href="https://3mdeb.com/products/training/#yocto-project-development">Yocto project development</a></li>
          <li><a href="https://3mdeb.com/products/training/#UEFI-offensive-security">UEFI offensive security</a></li>
          <li><a href="https://3mdeb.com/products/training/#UEFI-advanced-concepts">UEFI advanced concepts</a></li>
          <li><a href="https://3mdeb.com/products/training/#UEFI-fundamentals">UEFI fundamentals</a></li>
          <li><a href="https://3mdeb.com/products/training/#UEFI-practical-firmware-development">UEFI practical firmware development</a></li>
        </ul>
      </li>
      <li class="dropdown"><a href="https://3mdeb.com/news/">NEWS</a>
        <ul class="submenu">
          <li><a href="https://blog.3mdeb.com/">Blog</a></li>
          <li><a href="https://3mdeb.com/news/events/">Events</a></li>
          <li><a href="https://3mdeb.com/news/press-releases/">Press Releases</a></li>
          <li><a href="https://opensource.3mdeb.com/">Our Contribution</a></li>
          <li><a href="https://containers.3mdeb.com/">Containers</a></li>
        </ul>
      </li>
      <li><a href="https://shop.3mdeb.com/">SHOP</a></li>
      <li><a href="https://3mdeb.com/contact/">CONTACT</a></li>
    </ul>
  </div>
  </header>

  <!-- hero -->
  <section class="hero is-info is-medium">
    <div class="hero-body" style="background-image: url({{ "img/bg-pattern.jpg" | absURL }});">
      <div class="container has-text-centered">
        <br>
        <h1 class="title is-size-1">
          {{ if eq .Type "tags" }}
              #{{ .Title }}
          {{ else if eq .Type "archives" }}
              Archive {{ .Title }}
          {{ else if eq .Type "authors" }}
              {{ if isset .Params "name" }}
                {{ .Params.name }}
              {{ else }}
                Authors
              {{ end }}
          {{ else }}
              {{ .Title }}
          {{ end }}
        </h1>
          {{ if eq .Type "article" }}
              {{ .Date.Format "January 2, 2006" }} &middot;&nbsp;{{ .ReadingTime }} min read
          {{ end }}
      </div>
    </div>
  </section>
