<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ .Site.Title }} {{ with .Title }} | {{ . }}{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/font-awesome.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/bulma.css" />
  <link rel="stylesheet" href="{{ "css/blog.css" | absURL }}" />
  <link href="{{ with .OutputFormats.Get "RSS"  }}{{ .RelPermalink  }}{{ end  }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  <link href="{{ with .OutputFormats.Get "RSS"  }}{{ .RelPermalink  }}{{ end  }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />

  <style>.async-hide { opacity: 0 !important} </style>
  <!-- Anti-flicker snippet (recommended)  -->
  <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
  h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
  (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
  })(window,document.documentElement,'async-hide','dataLayer',4000,
  {'GTM-5GVCB5H':true});</script>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5GVCB5H');</script>
  <!-- End Google Tag Manager -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-39420295-6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-39420295-8');
  </script>
  <script>
    let path = window.document.location.href;
    if (path.includes("beta.3mdeb") ) {
      const head = document.getElementsByTagName('head')[0]
      const meta1 = document.createElement('meta');
      const meta2 = document.createElement('meta');
      meta1.setAttribute("name", "robots");
      meta1.setAttribute("content", "noindex");
      meta2.setAttribute("name", "googlebot");
      meta2.setAttribute("content", "noindex");
      head.appendChild(meta1);
      head.appendChild(meta2);
    }
  </script>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5GVCB5H"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <header class="header">
    <div class="inner-header">
        <div class="mobileMenu">
            <a href="https://3mdeb.com" class="logo"><img src="{{ .Site.BaseURL }}/img/3mdeb-logo(1).png" height="38"  width="250"></a>
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" id="mainAllMenusIcon" for="menu-btn">
                <svg fill="#fff" class="svg-icon" aria-hidden="true" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg" width="40" height="17" viewBox="0 0 26 5"><path fill-rule="evenodd" d="M332.5,45 C330.567003,45 329,43.4329966 329,41.5 C329,39.5670034 330.567003,38 332.5,38 C334.432997,38 336,39.5670034 336,41.5 C336,43.4329966 334.432997,45 332.5,45 Z M342,45 C340.067003,45 338.5,43.4329966 338.5,41.5 C338.5,39.5670034 340.067003,38 342,38 C343.932997,38 345.5,39.5670034 345.5,41.5 C345.5,43.4329966 343.932997,45 342,45 Z M351.5,45 C349.567003,45 348,43.4329966 348,41.5 C348,39.5670034 349.567003,38 351.5,38 C353.432997,38 355,39.5670034 355,41.5 C355,43.4329966 353.432997,45 351.5,45 Z" transform="translate(-329 -38)"></path></svg>
                <span class="menuLabel">Menu</span>
            </label>
        </div>
    <ul class="bigmenu">
      <li class="dropdown" id="customCssParent"><a href="javascript:void(0)" class="first" >Company<button type="button" class="mainMenuIcon"><i class="fa fa-thin fa-chevron-down"></i></button></a>
        <ul class="submenu temp">
          <li><a href="https://3mdeb.com/company/about-us/">About Us</a></li>
          <li><a href="https://3mdeb.com/company/about-us/#customers">Customers</a></li>
          <li><a href="https://3mdeb.com/company/careers/">Careers</a></li>
          <li><a href="https://3mdeb.com/company/markets/">Markets</a></li>
          <li><a href="https://3mdeb.com/company/faq/">FAQ</a></li>
          <li><a href="https://3mdeb.com/company/logo-policy/">Logo Policy</a></li>
        </ul>
      </li>
        <li class="dropdown"><a href="javascript:void(0)">Product<button type="button" class="mainMenuIcon"><i class="fa fa-thin fa-chevron-down"></i></button></a>
                        <ul class="submenu second">
          <li><a href="https://3mdeb.com/products/open-source-software/">Open Source Software</a></li>
          <li><a href="https://3mdeb.com/products/open-source-hardware/">Open Source Hardware</a></li>
          <li><a href="https://3mdeb.com/products/products-documentation/">Products Documentation</a></li>
        </ul>
      </li>
                    <li class="dropdown"><a href="javascript:void(0)">Services<button type="button" class="mainMenuIcon"><i class="fa fa-thin fa-chevron-down"></i></button></a>
        <ul class="submenu">
          <li><a href="https://3mdeb.com/services/embedded-firmware/">Embedded Firmware</a></li>
          <li><a href="https://3mdeb.com/services/operating-systems/">Operating Systems</a></li>
          <li><a href="https://3mdeb.com/services/hypervisors/">Hypervisors</a></li>
          <li><a href="https://3mdeb.com/services/software-and-hardware-security/">Software and Hardware Security</a></li>
          <li><a href="https://3mdeb.com/services/hardware-support/">Hardware Support</a></li>
          <li><a href="https://3mdeb.com/services/internet-of-things-solutions/">Internet of Things Solutions</a></li>
          <li><a href="https://3mdeb.com/services/automated-validation/">Automated Validation</a></li>
          <li><a href="https://3mdeb.com/services/service-catalogues/">Services Catalogues</a></li>
        </ul>
      </li>
                    <li class="dropdown"><a href="javascript:void(0)">Training<button type="button" class="mainMenuIcon"><i class="fa fa-thin fa-chevron-down"></i></button></a>
        <ul class="submenu">
          <li><a href="https://3mdeb.com/products/training/#coreboot-for-embedded-linux-developers">coreboot for Embedded Linux Developers</a></li>
          <li><a href="https://3mdeb.com/products/training/#building-and-development-of-embedded-linux-systems">Building and development of Embedded Linux Systems</a></li>
          <li><a href="https://3mdeb.com/products/training/#yocto-project-development">Yocto project development</a></li>
          <li><a href="https://3mdeb.com/products/training/#UEFI-offensive-security">UEFI offensive security</a></li>
          <li><a href="https://3mdeb.com/products/training/#UEFI-advanced-concepts">UEFI advanced concepts</a></li>
          <li><a href="https://3mdeb.com/products/training/#UEFI-fundamentals">UEFI fundamentals</a></li>
          <li><a href="https://3mdeb.com/products/training/#UEFI-practical-firmware-development">UEFI practical firmware development</a></li>
        </ul>
      </li>
                    <li class="dropdown"><a href="javascript:void(0)">News<button type="button" class="mainMenuIcon"><i class="fa fa-thin fa-chevron-down"></i></button></a>
        <ul class="submenu">
          <li><a href="https://blog.3mdeb.com/">Blog</a></li>
          <li><a href="https://3mdeb.com/news/events/">Events</a></li>
          <li><a href="https://3mdeb.com/news/press-releases/">Press Releases</a></li>
          <li><a href="https://opensource.3mdeb.com/">Our Contribution</a></li>
          <li><a href="https://containers.3mdeb.com/">Containers</a></li>
        </ul>
      </li>

      <li class="mainMenu"><a href="https://shop.3mdeb.com/" >Shop</a></li>
      <li class="mainMenu"><a href="https://3mdeb.com/contact/" >Contact</a></li>
      <li class="mainMenu"><a href="https://3mdeb.com/pl/polish/" hreflang="pl-PL" lang="pl-PL"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAMAAABBPP0LAAAAPFBMVEX/8fH67Ozz5ubt4OD+/v77+/v39/fo2Nj5AAD+jo79bW36X1/4T0/5QUHhAAD3MzP0Kir2ICDzERHtAACO5h0ZAAAAQUlEQVR4AQXBsRHDMAwAMTzNwvuvm5MVIECIZIEQZ4EQ7AAIGBABegsR+Z7VxChx7hCjhIwYJcTydcgQ1gv8Lhd/58kJTU6WtnIAAAAASUVORK5CYII=" alt="Polski" width="16" height="11" style="width: 16px; height: 11px;" class="lazyloaded" data-ll-status="loaded"><noscript><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAMAAABBPP0LAAAAPFBMVEX/8fH67Ozz5ubt4OD+/v77+/v39/fo2Nj5AAD+jo79bW36X1/4T0/5QUHhAAD3MzP0Kir2ICDzERHtAACO5h0ZAAAAQUlEQVR4AQXBsRHDMAwAMTzNwvuvm5MVIECIZIEQZ4EQ7AAIGBABegsR+Z7VxChx7hCjhIwYJcTydcgQ1gv8Lhd/58kJTU6WtnIAAAAASUVORK5CYII=" alt="Polski" width="16" height="11" style="width: 16px; height: 11px;" /></noscript></a></li>
      <li><a href="https://3mdeb.com/my-account"><img src="https://3mdeb.com/wp-content/uploads/2020/11/user.svg" class="_mi _svg lazyloaded" aria-hidden="true" data-ll-status="loaded"><noscript><img src="https://3mdeb.com/wp-content/uploads/2020/11/user.svg" class="_mi _svg" aria-hidden="true" /></noscript></a></li> 
    </ul>
  </div>
  </header>

  <!-- hero -->
  <section class="hero is-info is-medium">
    <div class="hero-body" style="background-image: url({{ "img/bg-pattern.jpg" | absURL }});">
      <div class="container has-text-centered">
        <br>
        <h1 class="title is-size-1">
          {{ if eq .Type "tags" }}
              #{{ .Title }}
          {{ else if eq .Type "archives" }}
              Archive {{ .Title }}
          {{ else if eq .Type "authors" }}
              {{ if isset .Params "name" }}
                {{ .Params.name }}
              {{ else }}
                Authors
              {{ end }}
          {{ else }}
              {{ .Title }}
          {{ end }}
        </h1>
          {{ if eq .Type "article" }}
              {{ .Date.Format "January 2, 2006" }} &middot;&nbsp;{{ .ReadingTime }} min read
          {{ end }}
      </div>
    </div>
  </section>
