ErrorDocument 404 https://blog.3mdeb.com/404
ErrorDocument 500 https://blog.3mdeb.com/404

# Friendly RSS/Feed URLs
RewriteEngine On
RewriteRule ^rss$ /rss.xml [R=301,L]
RewriteRule ^feed$ /feed.xml [R=301,L]
