html,
body {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
  background : #f9f9f9;
}

/* header */
.wv-wrapper {
  z-index: 1 !important;
}

.header {
  background-color: #222;
  position        : fixed;
  width           : 100%;
  z-index         : 3;
  font-family     : "Montserrat", "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight     : 500 !important;
  font-size       : 15px;
 /* height          : 100px;
  padding-top     : 18px;*/
}

.header a {
  color: #ffffff;
}

.header a:active {
  color: #38d430;
}


.header li a {
  display        : block;
  padding        : 20px 20px;
  text-decoration: none;
}


.header li a:hover,
.header .menu-btn:hover {
  /*color: #38d430;*/
}





.header .logo {
  display        : block;
  float          : left;
  padding        : 6px 20px 0 0;
  text-decoration: none;
}

/* menu */

.header .bigmenu {
  clear     : both;
  max-height: 0;
  transition: max-height .2s ease-out;
}


/* menu icon */

.header .menu-icon {
  cursor     : pointer;
  display    : inline-block;
  float      : right;
  /* it shouldn't be there, but works anyway */
  padding    : 28px 20px;
  position   : relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  display   : block;
  height    : 2px;
  position  : relative;
  transition: background .2s ease-out;
  width     : 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content   : '';
  display   : block;
  height    : 100%;
  position  : absolute;
  transition: all .2s ease-out;
  width     : 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked~.bigmenu {
  max-height      : 450px;
  display         : block;
  box-sizing      : inherit;
  float           : none;
  padding         : 20px 20px;
  background-color: #222;
}

.header .menu-btn:checked~.bigmenu li {
  display: block;
}

.header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.header ._svg{
  width: 1em;
  vertical-align: middle;
}

/* 48em = 768px */
@media (max-width: 1101px) {
  .header .bigmenu {
    display: none;
  }
}



@media (min-width: 1101px) {
  .header li {
    float: left;
  }

  .header li a {
    padding: 20px 0px;
  }

 .inner-header {
    /*
    margin : auto;
    padding: 0;
    width  : 1180px;*/

    margin : auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 1680px;
    align-items: center;
    max-height: unset;
    min-height: 70px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif !important;
    letter-spacing: -0.0277em;
  }
  

  .bigmenu li.mainMenu{
  	/*margin-left: 15px;*/
    margin-right: 25px;
  }


  .bigmenu .dropdown{
    margin-right: 2rem;
    padding-right: 15px;
  }


  .bigmenu .submenu li{
    margin-right: 0px;
  }



  .bigmenu .svg-inline--fa {
  	color: #38d430;
    font-size: 14px;
    margin-left: 8px;
    position: absolute;
    top: 6px;
   }
  
  
  .bigmenu .dropdown .submenu::after {
  	 content: " ";
    position: absolute;
    bottom: 100%;
    left: 80%;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #38d430 transparent;
  }
  
  
  
  .bigmenu li a {
    padding:0 0px 0 0;
    border-bottom: 2px solid transparent;
  	width: 100%;
  }

.bigmenu .mainMenu a{
    padding-left: 0;
}
  
  /*.bigmenu li a:hover {
  	 border-bottom: 2px solid #38d430;
  	 transition: transform 5s ease;
  }*/
	
  /*.bigmenu li a:after {
    margin-top: 8px;
    display: block;
    content: '';
    border-bottom: solid 3px #38d430;
    transform: scaleX(0);
    transition: transform 2s cubic-bezier(0.22, 0.61, 0.36, 1);
 }

.bigmenu li a:after {
    transform-origin: 100% 50%;
}

.bigmenu li a:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 100%;
}*/

/*
  .bigmenu>li.dropdown>a::after {
    content    : "";
    font-size  : 8px;
    transform  : rotate(90deg);
    position   : absolute;
    margin-left: 5px;
    margin-top : 3px;
    opacity    : 50%;
  }
*/

.bigmenu li a::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -2px;
    background: #fff;
    left: 0;
}

.bigmenu li a:hover::before {
    background: #38d430;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.bigmenu li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -2px;
    right: 0;
    background: #38d430;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.bigmenu li a:hover::after {
    background: transparent;
    width: 100%;
    transition: 0s;
}


  li.submenu>a {
    padding   : 8px;
    float     : left;
    text-align: left;
  }

  .header .bigmenu {
    clear     : none;
    float     : right;
    max-height: none;
    font-size : 15px;
    padding-top:0;
  }

  .header .menu-icon {
    display: none;
  }
}

@media screen and (max-width: 1440px) {
  .header .logo {
    margin-left: 2.8%;
    padding-top: 13px;
  }
  .bigmenu{
    margin-right: 1.7%;
  }
  .inner-header{
    align-items: center;
    max-height: 70px;
    display: flex;
    justify-content: space-between;
    width: 1440px;
  }
}

@media screen and (max-width: 1250px) {
  .header .bigmenu {
    margin-right: 5%;
  }
}

@media screen and (max-width: 1100px) {
  .header .logo {
    width      : 200px;
    margin-left: 5%;
  }
}

.tbc{
color:#fff;
}