{{ partial "header.html" . }}

<div class="container">
  <div class="section">
    <div class="columns">
      <div class="column is-9">
        <div class="tile is-child box">
          <div class="content">
            {{ range .Data.Pages }}
              <h2 class="author-title"><a href="{{ .Permalink }}">{{ .Params.name }}</a></h2>
              <div class="post-cover">
                <img class="author-image" src="{{ .Params.photo }}" alt="" width="150px"/>
              </div>
              {{ .Content }}

              {{ $pageAuthor := .Params.identifier}}
              {{ $quantity := 0 }}
              {{ range .Site.Pages }}
                {{ if eq $pageAuthor .Params.author }}
                  {{ $quantity = add $quantity 1 }}
                {{ end }}
              {{ end }}
              {{ if gt $quantity 0 }}
                <h4 class="author-quantity"><a href="{{ .Permalink }}">Articles (<strong>{{ $quantity }}</strong>)</a></h4>
              {{ end }}
              <hr>
            {{ end }}
          </div>
        </div>
      </div>
      <div class="column is-3">
          {{ partial "widget-search.html" . }}<br>
          {{ partial "widget-recent.html" . }}<br>
          {{ partial "widget-archives.html" . }}<br>
          {{ partial "widget-tags.html" . }}
      </div>
    </div>
  </div>
</div>
