{{ define "main" }}

<div class="columns">
    <div class="column is-9">
        <div class="tile is-child box">
            <div class="content">
                {{ .Content }}
                <hr>
              <div class="author-footer" align="center">
              {{ if isset .Params "author" }}
                {{ $author := index .Site.Data.authors .Params.author }}
                <img src="{{ $author.image }}"/><br>
                <b>{{ $author.name }}</b><br><br>
                <p align="left">{{ $author.bio }}<p>
              {{ else }}
                Unknown
              {{ end }}
              </div>
            </div>
        </div>
    </div>
    <div class="column is-3">
        {{ partial "widget-tags.html" . }}<br>
        {{ partial "widget-recent.html" . }}<br>
        {{ partial "widget-related.html" . }}<br>
        {{ partial "widget-archives.html" . }}
    </div>
</div>

{{ end }}
