{{ define "main" }}

<div class="columns">
    <div class="column is-9">
        <div class="tile is-child box">
            <div class="content">
              <script async src="https://widget.websitevoice.com/gL0uOQ_ggvKt2pGE51-krA"></script>
              <script>
                window.wvData=window.wvData||{};function wvtag(a,b){wvData[a]=b;}
                wvtag('id', 'gL0uOQ_ggvKt2pGE51-krA');
                wvtag('widget-style', {
                  backgroundColor: '#38d430'
                });
              </script>
                {{  .Content | replaceRE "<div class=\"highlight\">" "<div class=\"highlight wv‑disable\">" | safeHTML  }}
                {{ with .Params.author }}
                    {{ $list := slice }}
                    {{ $list = $list | append . }}
                    {{ range $elem := $list }}
                        <hr>
                        {{ $author := index $.Site.Data.authors $elem }}
                        {{ with $author.image }}
                        <div class="post-cover">
                          <img src="{{ $author.image }}" width="120"/>
                        </div>
                        {{ end }}
                        <b><a href="{{ "authors" | absURL }}/{{ replace $elem "." "-" }}">{{ $author.name }}</a></b>
                        <div class="post-summary">
                          {{ $author.bio }}
                        </div>
                      <hr>
                    {{ end }}
                {{ end }}
                {{ partial "comments.html" . }}
            </div>
        </div>
    </div>
    <div class="column is-3">
      {{ partial "widget-donate.html" . }}<br>
      {{ partial "widget-search.html" . }}<br>
      {{ partial "widget-recent.html" . }}<br>
      {{ partial "widget-authors.html" . }}<br>
      {{ partial "widget-related.html" . }}<br>
      {{ partial "widget-archives.html" . }}<br>
      {{ partial "widget-tags.html" . }}
    </div>
</div>

{{ end }}
